*{
    height: 100%;
}

.btn{
    padding: 15px 20px ;
    background: #0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background: white;
    border: black;
    color: black;
}

.card {
    width: 260px;
    padding: 20px;
    background: #f1f2f6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}